@{
    ViewData["Title"] = "Index";
    int count = 1;
}

@model List<Participant>

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Responsive Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">University</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Job</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <td>USA</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
   @*      <ul>
            @if (Model.CurrentPage != 1)
            {
                <li><a asp-controller="Team" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">Pre</a></li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="nav-item @(Model.CurrentPage==@i ? "active" : "" )"><a asp-controller="Team" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
            @if (Model.CurrentPage != Model.CurrentPage)
            {
                <li><a asp-controller="Team" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">Next</a></li>
            }
        </ul> *@
    </div>
</div>